<ion-view view-title="Perfil">
  <ion-content class="padding bodyInicio">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/Matias.jpg">
        <h2>Matias Mirotta</h2>
        <p>División 4-B</p>
      </div>
        <div class="card">
          <div class="item item-divider">
            <i class="icon ion-social-github"></i>
            Git Hub
          </div>
          <div class="item item-text-wrap">
            https://github.com/mmirotta/AppTrivia
          </div>
          <div class="item item-divider">
            <i class="icon ion-social-google"></i>
            Email
          </div>
          <div class="item item-text-wrap">
            m.mirotta@gmail.com
          </div>
          <div class="item item-divider">
            <i class="icon ion-social-wordpress"></i>
            Web
          </div>
          <div class="item item-text-wrap">
            matiasmirottautn.esy.es/
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
