<ion-view view-title="Resultado">
  <ion-content class="bodyInicio" scroll="false">
    <div class="card">
      <div class="item item-text-wrap">
        <div class="resultado">
          <img src='img/ganaste.jpg' style="width: 30%">
        </div>
        <div class="resultado">
          <label class="resultadoCorrecto">
            Correctas: {{resultado.correctas}}
          </label>
          <label class="resultadoIncorrecto">
            Incorrectas: {{resultado.incorrectas}}
          </label>
        </div>
        <div class="resultado">
          <label class="resultadoPuntos">
            Puntos: {{resultado.puntaje}}
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
