<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
  <ion-tab icon-off="ion-ios-game-controller-b-outline" icon-on="ion-ios-game-controller-b" href="#/tab/ingreso">
    <ion-nav-view name="tab-ingreso"></ion-nav-view>
  </ion-tab>
  <!--<ion-tab title="Preguntas" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab/preguntas">
    <ion-nav-view name="tab-preguntas"></ion-nav-view>
  </ion-tab>-->
  <ion-tab title="Puntajes" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/puntuaciones">
    <ion-nav-view name="tab-puntuaciones"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Pefil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>
</ion-tabs>

