/* Empty. Add your own CSS if you like */
.bodyInicio{
	background: url(../img/fondo.png) no-repeat center;
	background-size:cover;
}

.fondo{
	background-color: #eee;
}

.fondo p {
	font-family: sans-serif;
	font-size: 16px;
}

.encabezadoPregunta{
	background-color: #387ef5;
	border-color: #0c60ee; 
	color: #fff;
}

.resultadoImagenes{
	padding: 10px;
	text-align: center;
}

.icono{
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right: 5%;
}

.inputIngresar{
	margin-top: 40%;
	width: 100%;
	font-size: 15px;
	border-radius: 3px;
	padding-left: 15px;
	background-color: #eee;
}

.inputIngresar[placeholder]{
	font-size: 15px;
	padding-left: 15px;
}

.sombraBotones{
	text-decoration: none;
	box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
	position: relative;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	display: block;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	margin-top: 10%;
	font-size: 15px;
}

.sombraBotones:active{
	top: 7px;
	box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
}

.resultado{
	width: 100%;
	text-align: center;
	margin-top: 10%;
}
.resultadoCorrecto{
	padding: 10px;
	text-align: center;
	border: 2px solid #28a54c;
	color: #33cd5f;
	width: 50%;
	font-size: 20px;
}

.resultadoIncorrecto{
	padding: 10px;
	text-align: center;
	border: 2px solid #e42112;
	color: #ef473a;
	width: 50%;
	font-size: 20px;
	margin-left: 5px;
}

.resultadoPuntos{
	padding: 10px;
	text-align: center;
	border: 2px solid #000;
	color: #000;
	width: 100%;
	font-size: 25px;
}
